////////////////////////////////////////////////////////////////////////////////
//IBProvider resources. Firebird 4.0 error message table.
//                                     Created by Dmitry Kovalenko. 22.03.2023
#include "rc/ibp_msg_fb40.rh"
#include <winnt.rh>

////////////////////////////////////////////////////////////////////////////////
//Message Table Resource [ENGLISH]

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
IBP_MSG_TABLE_FB40_ERR     11 "rc/msg_table/IBP_MSG_FB40_ERR_ENG.bin"

////////////////////////////////////////////////////////////////////////////////
//Message Table Resource [RUSSIAN]

LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
IBP_MSG_TABLE_FB40_ERR     11 "rc/msg_table/IBP_MSG_FB40_ERR_RUS.bin"

////////////////////////////////////////////////////////////////////////////////
